core/projects/ProjectFile.xsd

<?xml version="1.0"?>
<!-- edited with XMLSpy v2006 rel. 3 sp1 (http://www.altova.com) by Alex (UAH) -->
<xs:schema xmlns="http://vast.uah.edu/stt/v3" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:sld="http://www.opengis.net/sld" targetNamespace="http://vast.uah.edu/stt/v3" elementFormDefault="unqualified" attributeFormDefault="unqualified">
	<xs:import namespace="http://www.opengis.net/sld" schemaLocation="./SLDx.xsd"/>
	<!-- Project Element (Root) -->
	<xs:element name="STTProject">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Identification">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="name"/>
							<xs:element name="dateCreated" type="xs:dateTime"/>
							<xs:element name="author" type="xs:token" minOccurs="0"/>
							<xs:element ref="description" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="SceneList">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="member" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element ref="Scene"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="ResourceList">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="member" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element ref="_DataProvider"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="ServiceList" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="member" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element ref="Service"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="version" type="xs:token"/>
		</xs:complexType>
	</xs:element>
	<!-- Scene Type -->
	<xs:element name="Service">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="name"/>
				<xs:element ref="description" minOccurs="0"/>
				<xs:element name="type" type="xs:token"/>
				<xs:element name="url" type="xs:token"/>
				<xs:element name="version" type="xs:token"/>
			</xs:sequence>
			<xs:attribute name="id" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Scene">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="name"/>
				<xs:element ref="description" minOccurs="0"/>
				<xs:element name="time">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="TimeSettings"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="view">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="ViewSettings"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="contents">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="DataList"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="id" type="xs:ID" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ViewSettings"/>
	<xs:element name="TimeSettings"/>
	<!--Scene Tree Elements-->
	<xs:element name="_DataEntry" type="_DataEntryType" abstract="true"/>
	<xs:complexType name="_DataEntryType" abstract="true">
		<xs:sequence>
			<xs:element ref="name"/>
			<xs:element ref="description" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:ID" use="optional"/>
	</xs:complexType>
	<xs:complexType name="_DataItemType" abstract="true">
		<xs:complexContent>
			<xs:extension base="_DataEntryType">
				<xs:sequence>
					<xs:element ref="dataProvider"/>
				</xs:sequence>
				<xs:attribute name="enabled" type="xs:boolean"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="DataList" substitutionGroup="_DataEntry">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="_DataEntryType">
					<xs:sequence>
						<xs:element name="member" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element ref="_DataEntry"/>
								</xs:sequence>
								<xs:attribute name="visible" type="xs:boolean"/>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="DataItem" substitutionGroup="_DataEntry">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="_DataItemType">
					<xs:sequence>
						<xs:element ref="style" maxOccurs="unbounded"/>
						<xs:element ref="feedback" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="DataTable" substitutionGroup="_DataEntry">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="_DataItemType">
					<xs:sequence>
						<xs:element name="column" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="Column">
										<xs:complexType>
											<xs:sequence>
												<xs:element ref="name"/>
												<xs:element ref="description" minOccurs="0"/>
												<xs:element name="width" type="xs:positiveInteger" minOccurs="0"/>
												<xs:element ref="style"/>
												<xs:element ref="feedback" minOccurs="0" maxOccurs="unbounded"/>
											</xs:sequence>
											<xs:attribute name="id" type="xs:ID"/>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
								<xs:attribute name="href" type="xs:anyURI"/>
							</xs:complexType>
						</xs:element>
						<xs:element ref="feedback" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>Feedback actions applying to all columns</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="DataChart" substitutionGroup="_DataEntry">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="_DataEntryType">
					<xs:sequence>
						<xs:element name="axis" minOccurs="2" maxOccurs="3">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="legend" type="xs:string" minOccurs="0"/>
									<xs:element name="extent" type="doublePair"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="member" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element ref="DataItem"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<!--Feedback Actions-->
	<xs:complexType name="_ActionType">
		<xs:attribute name="id"/>
	</xs:complexType>
	<xs:element name="_Action" type="_ActionType"/>
	<xs:element name="ShowPopup" substitutionGroup="_Action">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="_ActionType">
					<xs:sequence>
						<xs:element name="title" type="sld:_MappablePropertyType" minOccurs="0"/>
						<xs:element name="backgroundColor" type="sld:_MappablePropertyType" minOccurs="0"/>
						<xs:element ref="sld:opacity" minOccurs="0"/>
						<xs:element name="icon" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element ref="sld:Graphic"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="content">
							<xs:complexType>
								<xs:choice>
									<xs:element ref="sld:_Symbolizer"/>
									<xs:element ref="DataTable"/>
									<xs:element ref="DataChart"/>
								</xs:choice>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
					<xs:attribute name="showCloseButton" type="xs:boolean"/>
					<xs:attribute name="autoCloseDelay" type="xs:float"/>
					<xs:attribute name="autoUpdate" type="xs:boolean"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="ShowView" substitutionGroup="_Action">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="_ActionType">
					<xs:sequence>
						<xs:element name="title" type="sld:_MappablePropertyType" minOccurs="0"/>
						<xs:element name="backgroundColor" type="sld:_MappablePropertyType" minOccurs="0"/>
						<xs:element name="content">
							<xs:complexType>
								<xs:choice>
									<xs:element ref="sld:_Symbolizer"/>
									<xs:element ref="DataTable"/>
									<xs:element ref="DataChart"/>
								</xs:choice>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
					<xs:attribute name="autoUpdate" type="xs:boolean"/>
					<xs:attribute name="detached" type="xs:boolean"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="ShowScene" substitutionGroup="_Action">
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="_ActionType">
					<xs:sequence>
						<xs:element name="scene">
							<xs:complexType>
								<xs:sequence minOccurs="0">
									<xs:element ref="Scene"/>
								</xs:sequence>
								<xs:attribute name="href" type="xs:anyURI"/>
							</xs:complexType>
						</xs:element>
						<xs:element name="view" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element ref="ViewSettings"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="time" minOccurs="0">
							<xs:complexType>
								<xs:sequence>
									<xs:element ref="TimeSettings"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="visibleItem" minOccurs="0" maxOccurs="unbounded">
							<xs:complexType>
								<xs:attribute name="href" type="xs:anyURI"/>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
					<xs:attribute name="adjustView" type="xs:boolean"/>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<!--Data Providers-->
	<xs:element name="_DataProvider" type="_DataProviderType"/>
	<xs:complexType name="_DataProviderType" abstract="true">
		<xs:sequence>
			<xs:element ref="name"/>
			<xs:element ref="description" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<!-- Global Properties -->
	<xs:element name="name" type="xs:string"/>
	<xs:element name="description" type="xs:string"/>
	<xs:element name="dataProvider">
		<xs:complexType>
			<xs:sequence minOccurs="0">
				<xs:element ref="_DataProvider"/>
			</xs:sequence>
			<xs:attribute name="xlink" type="xs:anyURI"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="style">
		<xs:complexType>
			<xs:sequence>
				<!-- Should import SLDX schema here -->
				<xs:element ref="sld:_Symbolizer"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="feedback">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="_Action"/>
			</xs:sequence>
			<xs:attribute name="type" use="required"/>
			<xs:attribute name="delay" type="xs:positiveInteger"/>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="doublePair">
		<xs:restriction base="doubleList">
			<xs:length value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="doubleList">
		<xs:list itemType="xs:double"/>
	</xs:simpleType>
</xs:schema>
